.comp-container {
  border: black solid 3px;
  padding: 0.5rem;

  .score-container {
    display: flex;
    justify-content: center;

    .score {
      // font-style: italic;
      font-weight: 600;
      font-family: var(--monoFont);
    }
  }
}
