.comp-container {
  border: var(--ideal-body-text-black) solid 3px;
  padding: 0.5rem;

  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .score {
      // background-color: red;
      color: var(--ideal-body-text-black);
      font-weight: 600;
      font-family: var(--monoFont);
    }
  }
}
