<div class="comp-container">
  <h3>Differences</h3>
  <table>
    <caption class="sr-only">
      Differences between Color One and Color Two.
    </caption>
    <thead class="sr-only">
      <tr>
        <th>Measurement</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Delta E</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>

  <h3>Color One</h3>
  <table>
    <caption class="sr-only">
      Color One Metadata
    </caption>
    <thead class="sr-only">
      <tr>
        <th>Measurement</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Saturation</td>
        <td>0.22</td>
      </tr>
      <tr>
        <td>Lightness</td>
        <td>0.51</td>
      </tr>
      <tr>
        <td>Chroma</td>
        <td>0.11</td>
      </tr>
      <tr>
        <td>Hue</td>
        <td>351.27</td>
      </tr>
    </tbody>
  </table>

  <h3>Color Two</h3>
  <table>
    <caption class="sr-only">
      Color One Metadata
    </caption>
    <thead class="sr-only">
      <tr>
        <th>Measurement</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Saturation</td>
        <td>0.22</td>
      </tr>
      <tr>
        <td>Lightness</td>
        <td>0.51</td>
      </tr>
      <tr>
        <td>Chroma</td>
        <td>0.11</td>
      </tr>
      <tr>
        <td>Hue</td>
        <td>351.27</td>
      </tr>
    </tbody>
  </table>
</div>
