.comp-container {
  box-sizing: border-box;
  display: flex;

  /* gives input more room on left and right ends to be hit more successfully */
  padding: 0 calc(var(--min-hit-dimension-aaa) / 2);
  align-items: center;
  background-color: var(--app-white);

  &:hover {
    box-shadow: 0 4px 0 0 var(--ui-shadow-color);
  }

  input {
    flex-grow: 1;
    width: 100%;
    height: 50px;
    min-height: var(--min-hit-dimension-aaa);
    margin: 0;
  }

  .special-case {
    display: flex;
    flex-grow: 1;
    min-height: var(--min-hit-dimension-aaa);
    height: 50px;
    align-items: center;

    /* TODO: what do custom input text need to be? <p>? */
    div {
      font-family: var(--mono-font);
      font-size: var(--min-body-text-size);
      font-style: italic;
      font-weight: 400;
    }
  }
}

.dev-overlay {
  display: none;
  position: absolute;
  gap: 1rem;
  right: 0;
  bottom: 0;

  &.active {
    display: flex;
  }

  .light-variant-chip {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 15px solid var(--app-black);
  }
}
