.comp-container {
  box-sizing: border-box;
  display: flex;
  // gives input more room on left and right ends to be hit more successfully
  padding: 0 calc(var(--minHitDimensionAAA) / 2);

  input {
    flex-grow: 1;
    min-height: var(--minHitDimensionAAA);
  }
}

.dev-overlay {
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 0;
  right: 0;

  .light-variant-chip {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 15px solid black;
  }
}
