<div class="comp-container">
  <input
    *ngIf="slideMin != slideMax"
    type="range"
    [name]="name"
    [id]="id"
    [min]="slideMin"
    [max]="slideMax"
    [step]="slideInterval"
    [value]="value"
    (input)="handleSliding($event)"
  />
  <div *ngIf="slideMin === slideMax" class="special-case">
    no lightness variants possible with this color
  </div>
</div>

<div class="dev-overlay">
  <h2>dev</h2>
  <div
    class="light-variant-chip"
    [style.borderColor]="color"
    [style.backgroundColor]="devColorVariant"
  ></div>
</div>
