<div [id]="'cc-' + id" class="comp-container">
  <label [for]="id" class="sr-only">Chroma and hue bound Lightness</label>
  <input
    *ngIf="slideMin != slideMax"
    type="range"
    [name]="name"
    [id]="id"
    [min]="slideMin"
    [max]="slideMax"
    [step]="slideInterval"
    [value]="value"
    (input)="handleSliding($event)"
  />
  <div *ngIf="slideMin === slideMax" class="special-case">
    <div>!</div>
  </div>
</div>

<div class="dev-overlay" [ngClass]="{ active: debug }">
  <h2>dev overlay</h2>

  <div
    class="light-variant-chip"
    [style.borderColor]="devColorVariant"
    [style.backgroundColor]="color"
  ></div>
</div>
