.app-container {
  display: flex;
  flex-direction: column;
  padding: var(--fluidPadding) var(--fluidPadding) 0 var(--fluidPadding);
  background-color: var(--background-color);

  h2 {
    text-align: center;
  }

  section {
    // margin: 0.5rem 0;
  }

  .title-and-score {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;

    h1 {
      color: var(--ideal-body-text-black);
      width: min-content;
      text-align: right;
    }

    app-color-contrast {
      flex-grow: 1;
    }
  }

  .slide-group {
    display: flex;
    margin-bottom: 0.4rem;
    align-items: center;

    app-color-slider {
      flex-grow: 1;
    }
  }

  .accordion-group {
    border-radius: 5px;
    margin-bottom: 0.5rem;
    background-color: white;

    .accordion-header-and-control {
      margin: 0;
      display: flex;
      margin-bottom: 6px;

      button {
        border: 2px solid transparent;
        border-radius: 5px;
        height: var(--minHitDimensionAA);
        width: var(--minHitDimensionAA);
        flex-grow: 1;
        text-align: left;
        // font-size: inherit;
        font-size: var(--minTextSize);
        font-family: inherit;
        font-style: italic;

        &:hover {
          box-shadow: 0 4px 0 0 #8c897e;
        }
      }
    }

    .accordion-content {
      width: 100%;
      overflow: auto;
    }
  }

  .quick-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      background-color: var(--background-color);
      border: transparent 2px solid;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
      margin: 11px;
      border-radius: 5px;
      font-style: italic;
      color: var(--ideal-body-text-black);

      min-width: var(--minHitDimensionAA);
      min-height: var(--minHitDimensionAA);

      &:hover {
        box-shadow: 0 4px 0 0 #8c897e;
      }

      svg {
        fill: var(--app-black);
        transform: rotateZ(90deg);

        height: auto;
        width: 22px;

        display: inline-block;
      }
    }
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h2 {
      margin-bottom: 0;
    }

    p {
      // text-align: center;
      // width: 100%;
    }

    .checkbox-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;

      label {
        font-size: var(--minBodyTextSize);
        font-family: var(--bodyFont);
        color: var(--ideal-body-text-black);
      }

      input {
        margin: 11px;
        min-width: var(--minHitDimensionAA);
        min-height: var(--minHitDimensionAA);

        &:hover {
          box-shadow: 0 4px 0 0 #8c897e;
        }
      }
    }
  }

  .metadata {
    h2 {
      margin-bottom: 1.1em;
    }
  }

  .notes {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0 11px 1.15em 0;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      // margin: 1.15em 11px 1.15em 0;
    }
  }

  .alert {
    position: sticky;
    bottom: 0;
  }
}
