<div class="app-container">
  <section class="title-and-sliders">
    <div class="title-and-score">
      <h1>Perceptual Contrast</h1>
      <app-color-contrast
        [colorOne]="colorPickerOneComparedColor"
        [colorTwo]="colorPickerTwoComparedColor"
        [contrastType]="contrastType"
      ></app-color-contrast>
    </div>

    <h2 class="sr-only">Main Color Controls</h2>

    <h3>Foreground Color</h3>

    <div class="slide-group">
      <app-color-picker
        [inputId]="'cp-0'"
        [inputName]="'Foreground Color'"
        [comparedColor]="colorPickerOneComparedColor"
        (selectedColor)="handleColorInputInput('One', $event)"
        [deltaColor]="colorPickerOneSelectedColor"
      ></app-color-picker>
      <app-color-slider
        [id]="'slider-0'"
        [name]="'Foreground Slider'"
        [color]="colorPickerOneSelectedColor"
        [constantChroma]="constantChroma"
        (colorVariant)="handleSliderInputInput('One', $event)"
        [resetSlider]="resetSlider"
      ></app-color-slider>
      <app-copy-to-clipboard-button
        [color]="colorPickerOneComparedColor"
        (copyEvent)="handleCopyEvent($event)"
      ></app-copy-to-clipboard-button>
    </div>

    <details class="pallette-viz-container">
      <summary>Foreground LCH Limits</summary>

      <app-palette-table
        [color]="colorPickerOneSelectedColor"
        (selectedColor)="handleColorPaletteButtonEvent('One', $event)"
      ></app-palette-table>
    </details>

    <h3>Background Color</h3>

    <div class="slide-group">
      <app-color-picker
        [inputId]="'cp-1'"
        [inputName]="'Background Color'"
        [comparedColor]="colorPickerTwoComparedColor"
        [deltaColor]="colorPickerTwoSelectedColor"
        (selectedColor)="handleColorInputInput('Two', $event)"
      ></app-color-picker>
      <app-color-slider
        [id]="'slider-1'"
        [name]="'Backgroundground Slider'"
        [color]="colorPickerTwoSelectedColor"
        [constantChroma]="constantChroma"
        (colorVariant)="handleSliderInputInput('Two', $event)"
        [resetSlider]="resetSlider"
      ></app-color-slider>
      <app-copy-to-clipboard-button
        [color]="colorPickerTwoComparedColor"
        (copyEvent)="handleCopyEvent($event)"
      ></app-copy-to-clipboard-button>
    </div>

    <details class="pallette-viz-container">
      <summary>Background LCH Limits</summary>

      <app-palette-table
        [color]="colorPickerTwoSelectedColor"
        (selectedColor)="handleColorPaletteButtonEvent('Two', $event)"
      ></app-palette-table>
    </details>
  </section>

  <section class="quick-actions">
    <button
      [disabled]="!colorPickerOneSelectedColor || !colorPickerTwoSelectedColor"
      (click)="swapColors()"
    >
      <span class="sr-only">Swap Selected Colors</span>
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        x="0px"
        y="0px"
      >
        <defs>
          <style>
            .cls-1 {
              fill: none;
            }
          </style>
        </defs>
        <g>
          <path
            d="M6.29,8.71a1,1,0,0,1,0-1.42l4-4a1,1,0,1,1,1.42,1.42L9.41,7H19a7,7,0,0,1,7,7,1,1,0,0,1-2,0,5,5,0,0,0-5-5H9.41l2.3,2.29a1,1,0,0,1,0,1.42,1,1,0,0,1-1.42,0ZM21.71,19.29a1,1,0,0,0-1.42,1.42L22.59,23H13a5,5,0,0,1-5-5,1,1,0,0,0-2,0,7,7,0,0,0,7,7h9.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,0-1.42Z"
          />
          <rect class="cls-1" width="32" height="32" />
        </g>
      </svg>
    </button>
    <button (click)="setRandomColorPair()">
      <span class="sr-only">Create Random Color Pair</span
      ><span aria-hidden="true">Ra</span>
    </button>
    <button (click)="resetSliders()">
      <span class="sr-only">Reset Color Sliders</span
      ><span aria-hidden="true">Re</span>
    </button>
    <button (click)="matchChromas()">
      <span class="sr-only">Harmonize Color Pair To Same Chroma</span
      ><span aria-hidden="true">Ch</span>
    </button>
  </section>

  <hr />

  <section class="metadata">
    <h2>Color Metadata</h2>

    <app-metadata
      [colorOne]="colorPickerOneComparedColor"
      [colorTwo]="colorPickerTwoComparedColor"
    ></app-metadata>
  </section>

  <hr />

  <section class="options">
    <h2>Options</h2>
    <div class="options">
      <div class="checkbox-group">
        <label for="option-score-toggle"
          >Display WCAG 2 compatible value<span class="sr-only"
            >; this affects a visual element not percievable to screenreaders
            for good UX—same value is obtainable on Color Metadata section under
            Differences.</span
          >
        </label>
        <input
          type="checkbox"
          name="Contrast Score Type Toggle"
          id="option-score-toggle"
          (change)="toggleContrastType($event)"
        />
      </div>

      <div class="checkbox-group">
        <label for="option-const-chroma">Constant chroma</label>
        <input
          type="checkbox"
          name="Constant Chroma Toggle"
          id="option-const-chroma"
          (change)="toggleConstantChroma($event)"
        />
      </div>
    </div>
  </section>

  <hr />

  <section class="notes">
    <h2>Notes</h2>

    <p id="notes-lch-limits">
      <span class="visual-header">LCH Limits:</span>
      This feature displays a collection of different buttons showing possible
      variants of your selected color limited by the sRGB color gamut. The
      visualization is built using a
      <code>table</code> element to provide an equitable experience in choosing
      colors based on lightness and chroma.
    </p>
    <p id="notes-object">
      <span class="visual-header">Object:</span> A readout that shows two
      different values, a number in pixels that the current contrast level
      supports, and 'invisible' when the current contrast level is too low to
      support <strong>any</strong> object.
    </p>
    <p id="notes-perceptual-contrast">
      <span class="visual-header"> Perceptual contrast:</span> Score that better
      gauges contrast than WCAG 2 in the creation of inclusive visual designs.
      For more information on the value used for Perceptual Contrast, refer to
      Myndex article
      <a href="https://git.apcacontrast.com/documentation/WhyAPCA.html"
        >Why APCA?</a
      >
    </p>
    <p id="notes-wcag2-compat">
      <span class="visual-header">WCAG 2 compatible:</span> A score compatible
      with use for WCAG 2.x success criteria. This score meets or exceeds WCAG 2
      scores to better include those with atypical vision.
    </p>
    <p id="notes-wcag2">
      <span class="visual-header">WCAG 2:</span> Scores that are included for
      reference only—do not use this score for judging Accessible Contrast.
    </p>

    <p id="notes-display-wcag2">
      <span class="visual-header">Display WCAG 2 compatible value:</span>
      Option that swaps out perceptual contrast score visually displayed at top
      of the app. Screen reader users can access the same value regardless of
      this option in the Differences table located in the Color Metadata
      section.
    </p>
    <p id="notes-constant-chroma">
      <span class="visual-header">Constant chroma:</span>
      Option that forces the color sliders to limit light and dark variation of
      colors to tints and shades that have the same chroma and hue of the
      inputted color maintaining the objective identity of your input color.
    </p>
  </section>

  <hr />

  <section class="contact">
    <h2>Contact Information and Feedback</h2>

    <p>
      Made by <a href="https://github.com/pawn002">pawn002</a>, who would
      appreciate
      <a
        href="https://github.com/pawn002/color-pair-quick-iterator/issues/new/choose"
      >
        bug reports and feature requests for this app</a
      >
      to help improve its Accessibility.
    </p>
  </section>

  <div class="alert">
    <app-alert [alertMessage]="currentAlertMessage"></app-alert>
  </div>
</div>
