.app-container {
  display: flex;
  flex-direction: column;
  padding: var(--fluidPadding);
  background-color: var(--background-color);

  section {
    margin: 0.5rem 0;
  }

  .title-and-score {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;

    h1 {
      width: min-content;
      text-align: right;
    }

    app-color-contrast {
      flex-grow: 1;
    }
  }

  .slide-group {
    display: flex;
    margin-bottom: 0.4rem;

    app-color-slider {
      flex-grow: 1;
    }
  }

  h2 {
    text-align: center;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .checkbox-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;

      label {
        font-size: var(--minTextSize);
        font-family: var(--bodyFont);
        color: var(--min-body-text-black);
      }
      input {
        margin: 11px;
        min-width: var(--minHitDimensionAA);
        min-height: var(--minHitDimensionAA);
      }
    }
  }

  .notes {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0 11px 1.15em 0;
    }
  }
}
