<div class="app-container">
  <section class="title-and-sliders">
    <div class="title-and-score">
      <h1>Colors Contrast</h1>
      <app-color-contrast
        [colorOne]="colorPickerOneComparedColor"
        [colorTwo]="colorPickerTwoComparedColor"
        [contrastType]="contrastType"
      ></app-color-contrast>
    </div>

    <details class="app-instruction-start">
      <summary>How to use this app.</summary>

      <p>
        <span class="visual-header">Quick Start:</span>
        Input a Foreground and Background Color using the color inputs in the
        next section. You can then us the slider inputs, and Copy to Clipboard
        buttons to:
      </p>
      <ul>
        <li>
          Change the tone of your colors to achieve your desired combination of
          contrast and tone.
        </li>

        <li>Copy each color to the clipboard for use in other applications.</li>
      </ul>

      <p>
        <a href="#additional-instructions"
          >Screen reader–specific workflows, low vision user notes, and more
          in-depth instructions.</a
        >
      </p>
    </details>

    <hr class="instructions-hr" />

    <h2 class="sr-only">Main Color Controls</h2>

    <h3>Foreground Color</h3>

    <div class="slide-group">
      <app-color-picker
        [inputId]="'cp-0'"
        [inputName]="'Foreground Color'"
        [comparedColor]="colorPickerOneComparedColor"
        (selectedColor)="handleColorInputInput('One', $event)"
        [deltaColor]="colorPickerOneSelectedColor"
      ></app-color-picker>
      <app-color-slider
        [id]="'slider-0'"
        [name]="'Foreground Slider'"
        [color]="colorPickerOneSelectedColor"
        [constantChroma]="constantChroma"
        (colorVariant)="handleSliderInputInput('One', $event)"
        [resetSlider]="resetSlider"
        [showGradient]="showGradient"
      ></app-color-slider>
      <app-copy-to-clipboard-button
        [color]="colorPickerOneComparedColor"
        (copyEvent)="handleCopyEvent($event)"
      ></app-copy-to-clipboard-button>
    </div>

    <details class="pallette-viz-container">
      <summary>Foreground LCH Limits</summary>

      <div class="content">
        <app-palette-table
          [color]="colorPickerOneSelectedColor"
          (selectedColor)="handleColorPaletteButtonEvent('One', $event)"
        ></app-palette-table>
      </div>
    </details>

    <h3>Background Color</h3>

    <div class="slide-group">
      <app-color-picker
        [inputId]="'cp-1'"
        [inputName]="'Background Color'"
        [comparedColor]="colorPickerTwoComparedColor"
        [deltaColor]="colorPickerTwoSelectedColor"
        (selectedColor)="handleColorInputInput('Two', $event)"
      ></app-color-picker>
      <app-color-slider
        [id]="'slider-1'"
        [name]="'Backgroundground Slider'"
        [color]="colorPickerTwoSelectedColor"
        [constantChroma]="constantChroma"
        (colorVariant)="handleSliderInputInput('Two', $event)"
        [resetSlider]="resetSlider"
        [showGradient]="showGradient"
      ></app-color-slider>
      <app-copy-to-clipboard-button
        [color]="colorPickerTwoComparedColor"
        (copyEvent)="handleCopyEvent($event)"
      ></app-copy-to-clipboard-button>
    </div>

    <details class="pallette-viz-container">
      <summary>Background LCH Limits</summary>

      <div class="content">
        <app-palette-table
          [color]="colorPickerTwoSelectedColor"
          (selectedColor)="handleColorPaletteButtonEvent('Two', $event)"
        ></app-palette-table>
      </div>
    </details>
  </section>

  <section class="quick-actions">
    <button
      (click)="swapColors()"
      [disabled]="!colorPickerOneSelectedColor || !colorPickerTwoSelectedColor"
    >
      <span class="sr-only">Swap Selected Colors</span>
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        x="0px"
        y="0px"
      >
        <defs>
          <style>
            .cls-1 {
              fill: none;
            }
          </style>
        </defs>
        <g>
          <path
            d="M6.29,8.71a1,1,0,0,1,0-1.42l4-4a1,1,0,1,1,1.42,1.42L9.41,7H19a7,7,0,0,1,7,7,1,1,0,0,1-2,0,5,5,0,0,0-5-5H9.41l2.3,2.29a1,1,0,0,1,0,1.42,1,1,0,0,1-1.42,0ZM21.71,19.29a1,1,0,0,0-1.42,1.42L22.59,23H13a5,5,0,0,1-5-5,1,1,0,0,0-2,0,7,7,0,0,0,7,7h9.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,0-1.42Z"
          />
          <rect class="cls-1" width="32" height="32" />
        </g>
      </svg>
    </button>

    <button (click)="matchChromas()">
      <span class="sr-only">Harmonize Color Pair To Same Chroma</span
      ><span aria-hidden="true">Match Chromas</span>
    </button>

    <button (click)="resetSliders()">
      <span class="sr-only">Reset Color Sliders</span
      ><span aria-hidden="true">Reset Sliders</span>
    </button>

    <button (click)="setRandomColorPair()">
      <span class="sr-only">Create Random Color Pair</span
      ><span aria-hidden="true">Random Color Pair</span>
    </button>
  </section>

  <hr />

  <section class="options">
    <h2>Options</h2>

    <div class="options">
      <details open>
        <summary>Change how Colors Contrast works.</summary>
        <div>
          <h3>Colors Contrast Value</h3>

          <div class="radio-section">
            <div class="radio-group">
              <label for="ct-apca"
                >Perceptual<span class="sr-only"
                  >; this affects a visual element not percievable to
                  screenreaders for good UX—same value is obtainable on Color
                  Metadata section under Differences.</span
                >
              </label>
              <input
                type="radio"
                name="contrastType"
                id="ct-apca"
                (change)="radioChange('apca')"
                checked
              />
            </div>
            <div class="radio-group">
              <label for="ct-bpca"
                >WCAG 2 compatible<span class="sr-only"
                  >; this affects a visual element not percievable to
                  screenreaders for good UX—same value is obtainable on Color
                  Metadata section under Differences.</span
                >
              </label>
              <input
                type="radio"
                name="contrastType"
                id="ct-bpca"
                (change)="radioChange('bpca')"
              />
            </div>
            <div class="radio-group">
              <label for="ct-apca-object"
                >Object
                <span class="sr-only"
                  >; this affects a visual element not percievable to
                  screenreaders for good UX—same value is obtainable on Color
                  Metadata section under Differences.</span
                >
              </label>
              <input
                type="radio"
                name="contrastType"
                id="ct-apca-object"
                (change)="radioChange('apca object')"
              />
            </div>
          </div>
        </div>

        <div>
          <h3>Color Sliders</h3>

          <div class="checkbox-section">
            <div class="checkbox-group">
              <label for="option-const-chroma">Constant chroma</label>
              <input
                checked
                type="checkbox"
                name="Constant Chroma Toggle"
                id="option-const-chroma"
                (change)="toggleConstantChroma($event)"
              />
            </div>
            <div class="checkbox-group">
              <label for="option-show-grad">Show Gradient</label>
              <input
                checked
                type="checkbox"
                name="Show Gradient Toggle"
                id="option-show-grad"
                (change)="toggleShowGradient($event)"
              />
            </div>
          </div>
        </div>
      </details>
    </div>
  </section>

  <hr />

  <section class="metadata">
    <h2 id="color-metadata">Color Metadata</h2>

    <details>
      <summary>Descriptive data about your inputted colors.</summary>

      <app-metadata
        [colorOne]="colorPickerOneComparedColor"
        [colorTwo]="colorPickerTwoComparedColor"
      ></app-metadata>
    </details>
  </section>

  <hr />

  <section class="instructions">
    <h2 id="additional-instructions">Additional Instructions</h2>

    <details>
      <summary>Detailed instructions and workflows.</summary>

      <div class="content">
        <p>
          <span class="visual-header">Screen Reader Users:</span> Input a
          Foreground Color and a Background Color in the Main Color Controls
          section. You can then:
        </p>
        <ol>
          <li>
            Adjust your inputted colors lighter and darker using the slider
            inputs. . .
          </li>
          <li>
            . . .while checking contrast and color descriptions in the
            <a href="#color-metatdata">Color Metadata</a> section.
          </li>
        </ol>

        <p>
          <span class="visual-header">Low Vision Users:</span> We designed
          Colors Contrast from the ground up with you in mind. You will notice
          that zooming your browser still allows you to see the most important
          parts of the UI:
        </p>
        <ul>
          <li>The contrast value</li>
          <li>The color inputs</li>
          <li>The slider inputs</li>
          <li>The Copy to Clipboard buttons</li>
        </ul>

        <p>
          <span class="visual-header"> Random Color Pairs:</span> Colors
          Contrast starts you off with a random pair of colors that passes most
          if not all levels of Accessible Contrast.
        </p>
        <ul>
          <li>
            Use the slider inputs to create tones of those colors for each
            contrast level you need.
          </li>
          <li>
            Try swapping Foreground, and Background colors for a dark mode pair.
          </li>
        </ul>
      </div>
    </details>
  </section>

  <hr />

  <section class="notes">
    <h2>Notes</h2>

    <details>
      <summary>Details about app features.</summary>

      <div class="content">
        <p id="notes-lch-limits">
          <span class="visual-header">LCH Limits:</span>
          This feature displays variants of your selected color. Unlike most
          color pickers, this feature only shows you what is in the sRGB color
          gamut. This allows you to know:
        </p>
        <ul>
          <li>
            How your choice of hue affects your options for lightness and color
            strength. For example, strong yellows are only possible at high
            lightness levels.
          </li>
          <li>
            How lightness and color strength relate to each other for your
            selected hue.
          </li>
        </ul>
        <p>
          This feature uses an HTML table element that should allow screen
          reader users to:
        </p>
        <ul>
          <li>
            Use column and row headers to examine and choose specific variants.
          </li>
          <li>Read various color metadata.</li>
        </ul>

        <p id="notes-object">
          <span class="visual-header">Object:</span> This readout shows two
          different values:
        </p>
        <ul>
          <li>
            The first value is a number in pixels that the current contrast
            level supports.
          </li>
          <li>
            The second value is an exclamation point. This occurs when the
            current contrast level is too low to support
            <strong>ANY</strong> object.
          </li>
        </ul>

        <p id="notes-perceptual-contrast">
          <span class="visual-header"> Perceptual contrast:</span> This score
          gauges inclusive contrast better than WCAG 2. For more information on
          why, refer to Myndex article,
          <a href="https://git.apcacontrast.com/documentation/WhyAPCA.html"
            >Why APCA?</a
          >
        </p>
        <p id="notes-wcag2-compat">
          <span class="visual-header">WCAG 2 compatible:</span> A score
          compatible with use for WCAG 2.x success criteria. This score meets or
          exceeds WCAG 2 scores to better include those with atypical vision.
        </p>
        <p id="notes-wcag2">
          <span class="visual-header">WCAG 2:</span> This score is for reference
          only—do not use this score for judging inclusive contrast.
        </p>

        <p id="notes-display-wcag2">
          <span class="visual-header">Colors Contrast Value: Perceptual:</span>
          The default score displayed by Colors Contrast. It ranges from -108 to
          106. Use this value in conjunction with
          <a href="http://https://www.myndex.com/APCA/">Myndex guides</a> to
          create inclusive designs.
        </p>
        <p id="notes-display-wcag2">
          <span class="visual-header"
            >Colors Contrast Value: WCAG 2 compatible:</span
          >
          This option swaps in a score for a value usable with WCAG 2.x success
          criteria.
        </p>
        <p id="notes-display-wcag2">
          <span class="visual-header">Colors Contrast Value: Object:</span>
          This option swaps in a score that either displays a number in pixels
          or an exclamation point (!). The number is the smallest object
          dimension you can use the current color variant pair for.
        </p>
        <ul>
          <li>
            Smallest object dimension is the smallest dimension of an object you
            are designing.
          </li>
          <li>
            For example, if an object is 15 pixels by 20 pixels, the smallest
            dimension is 15 pixels.
          </li>
        </ul>

        <p id="notes-constant-chroma">
          <span class="visual-header">Constant chroma:</span>
          This option forces input sliders to limit tones with the same chroma
          and hue of your inputted color.
        </p>
        <ul>
          <li>
            Keeping the same chroma and hue preserves the identity of your input
            color.
          </li>
          <li>
            Deselecting this option allows you to generate more tones. Be aware
            that a lot of tones generated will now clash with your inputted
            color.
          </li>
        </ul>
        <p id="notes-show-grad">
          <span class="visual-header">Show Gradient:</span>
          This option renders a tone gradient behind the slider inputs. The
          gradient shows the tonal possibilities of your inputted color. If
          Constant Chroma is not active, the gradient ranges from black to
          white.
        </p>
      </div>
    </details>
  </section>

  <hr />

  <section class="contact">
    <h2>Contact Information and Feedback</h2>

    <p>
      Made by <a href="https://github.com/pawn002">pawn002</a>, who would
      appreciate
      <a
        href="https://github.com/pawn002/color-pair-quick-iterator/issues/new/choose"
      >
        bug reports and feature requests for this app</a
      >
      to help improve its Accessibility.
    </p>
  </section>

  <div class="alert">
    <app-alert [alertMessage]="currentAlertMessage"></app-alert>
  </div>
</div>
