.comp-container {
  border-radius: 2px;

  table {
    border-collapse: collapse;

    th {
      font-family: var(--mono-font);
    }

    td {
      margin: 0;
      padding: 7.5px;
      line-height: 0;
    }

    tbody {
      th {
        text-align: right;
      }
    }

    button {
      margin: 0;
      padding: 0;
      border: transparent 2px solid;
      box-sizing: border-box;
      border-radius: 5px;
      min-width: 22px;
      min-height: 22px;
      line-height: 0;
      font-size: 0;

      span {
        line-height: 0;
      }

      &:hover:not([disabled]) {
        background-color: white !important;
        border-color: #8f8f8f !important;
      }
    }
  }
}
