<div class="comp-container">
  <table>
    <caption class="sr-only">
      Collection of colors sharing the same hue organized by chroma as columns,
      and lightness as rows.
    </caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th>0</th>
        <th>.2</th>
        <th>.4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1<span>.0</span></th>
        <td><button>color</button></td>
        <td><button>color</button></td>
        <td><button>color</button></td>
      </tr>
      <tr>
        <th>0.5</th>
        <td><button>color</button></td>
        <td><button>color</button></td>
        <td><button>color</button></td>
      </tr>
      <tr>
        <th>0</th>
        <td><button>color</button></td>
        <td><button>color</button></td>
        <td><button>color</button></td>
      </tr>
    </tbody>
  </table>
</div>
