<div class="comp-container">
  <table *ngIf="dataStruct" [style.backgroundColor]="color">
    <caption class="sr-only">
      Collection of colors sharing the same hue organized by chroma as columns,
      and lightness as rows. Selecting a button in the table will copy the its
      color to the clipboard.
    </caption>
    <thead>
      <tr class="sr-only">
        <td>&nbsp;</td>
        <th *ngFor="let header of tableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataStruct; index as i">
        <th class="sr-only">{{ row[0]["lightness"] }}</th>
        <td *ngFor="let cell of row; index as j">
          <button
            [style.backgroundColor]="cell.color ? cell.color : 'transparent'"
            [style.color]="cell.color ? getTextColor(cell.color) : 'black'"
            (click)="selectColor(i, j)"
          >
            <span *ngIf="cell.color" class="sr-only">{{ cell.color }}, </span>
            <span *ngIf="cell.color" class="sr-only"
              >{{ cell.deltaLightness }}%,
            </span>
            <span *ngIf="cell.color" class="sr-only"
              >{{ cell.deltaChroma }}%,
            </span>
            <span *ngIf="cell.color" class="sr-only">{{ cell.deltaE }}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
