<div class="comp-container">
  <table>
    <caption class="sr-only">
      Collection of colors sharing the same hue organized by chroma as columns,
      and lightness as rows.
    </caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th>0.0</th>
        <th>0.2</th>
        <th>0.4</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataStruct">
        <th>{{ row[0]["lightness"] }}</th>
        <td *ngFor="let cell of row">
          <button
            [style.backgroundColor]="cell.color ? cell.color : 'transparent'"
          ></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
