.comp-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem 4rem;
  justify-content: center;

  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 30ch;
  }

  h3 {
    text-align: center;
  }

  table {
    margin-bottom: 1rem;
  }

  tr {
    :nth-child(2) {
      font-family: var(--mono-font);
      text-align: right;
      font-style: normal;
      padding-left: 1ch;
      min-width: 9ch;
    }
  }
}
