<div class="comp-container">
  <div>
    <h3>Successes and Minimums</h3>
    <app-table [compact]="true">
      <table>
        <caption class="sr-only">
          Various pass, fails or minimum dimensions related to visual elements.
        </caption>
        <thead class="sr-only">
          <tr>
            <th>Criteria</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label">Text</td>
            <td class="numeric">{{ successes().text }}</td>
          </tr>
          <tr>
            <td class="label">Large Text</td>
            <td class="numeric">{{ successes().largeText }}</td>
          </tr>
          <tr>
            <td class="label">Non-text</td>
            <td class="numeric">{{ successes().nonText }}</td>
          </tr>
          <tr>
            <td class="label label--with-info">
              Object
              <app-tooltip text="About Object" position="right">
                <app-button variant="ghost" size="icon" ariaLabel="About Object" (clicked)="noteRequested.emit('apca object')">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </app-button>
              </app-tooltip>
            </td>
            <td class="numeric">{{ successes().objectMinDimension }}</td>
          </tr>
        </tbody>
      </table>
    </app-table>
  </div>

  <div>
    <h3>Differences</h3>
    <app-table [compact]="true">
      <table>
        <caption class="sr-only">
          Differences between Foreground Color and Background Color.
        </caption>
        <thead class="sr-only">
          <tr>
            <th>Measurement</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label label--with-info">
              Delta E
              <app-tooltip text="About Delta E" position="right">
                <app-button variant="ghost" size="icon" ariaLabel="About Delta E" (clicked)="noteRequested.emit('deltaE')">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </app-button>
              </app-tooltip>
            </td>
            <td class="numeric">{{ differences().deltaE }}</td>
          </tr>
          <tr>
            <td class="label label--with-info">
              OKCA
              <app-tooltip text="About OKCA" position="right">
                <app-button variant="ghost" size="icon" ariaLabel="About OKCA" (clicked)="noteRequested.emit('okca')">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </app-button>
              </app-tooltip>
            </td>
            <td class="numeric">{{ differences().okca }}</td>
          </tr>
          <tr>
            <td class="label label--with-info">
              Perceptual contrast
              <app-tooltip text="About Perceptual contrast" position="right">
                <app-button variant="ghost" size="icon" ariaLabel="About Perceptual contrast" (clicked)="noteRequested.emit('apca')">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </app-button>
              </app-tooltip>
            </td>
            <td class="numeric">{{ differences().apca }}</td>
          </tr>
          <tr>
            <td class="label label--with-info">
              WCAG 2 compatible
              <app-tooltip text="About WCAG 2 compatible" position="right">
                <app-button variant="ghost" size="icon" ariaLabel="About WCAG 2 compatible" (clicked)="noteRequested.emit('bpca')">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </app-button>
              </app-tooltip>
            </td>
            <td class="numeric">{{ differences().wcag2New }}</td>
          </tr>
          <tr>
            <td class="label label--with-info">
              WCAG 2
              <app-tooltip text="About WCAG 2" position="right">
                <app-button variant="ghost" size="icon" ariaLabel="About WCAG 2" (clicked)="noteRequested.emit('wcag2')">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </app-button>
              </app-tooltip>
            </td>
            <td class="numeric">{{ differences().wcag2Old }}</td>
          </tr>
        </tbody>
      </table>
    </app-table>
  </div>

  <div>
    <h3>Foreground Color</h3>
    <app-table [compact]="true">
      <table>
        <caption class="sr-only">
          Foreground Color Metadata
        </caption>
        <thead class="sr-only">
          <tr>
            <th>Measurement</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label">Saturation</td>
            <td class="numeric">{{ colorOneMeta()?.saturation }}</td>
          </tr>
          <tr>
            <td class="label">Lightness</td>
            <td class="numeric">{{ colorOneMeta()?.lightness }}</td>
          </tr>
          <tr>
            <td class="label">Chroma</td>
            <td class="numeric">{{ colorOneMeta()?.chroma }}</td>
          </tr>
          <tr>
            <td class="label">Hue</td>
            <td class="numeric">{{ colorOneMeta()?.hue }}</td>
          </tr>
        </tbody>
      </table>
    </app-table>
  </div>

  <div>
    <h3>Background Color</h3>
    <app-table [compact]="true">
      <table>
        <caption class="sr-only">
          Background Color Metadata
        </caption>
        <thead class="sr-only">
          <tr>
            <th>Measurement</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label">Saturation</td>
            <td class="numeric">{{ colorTwoMeta()?.saturation }}</td>
          </tr>
          <tr>
            <td class="label">Lightness</td>
            <td class="numeric">{{ colorTwoMeta()?.lightness }}</td>
          </tr>
          <tr>
            <td class="label">Chroma</td>
            <td class="numeric">{{ colorTwoMeta()?.chroma }}</td>
          </tr>
          <tr>
            <td class="label">Hue</td>
            <td class="numeric">{{ colorTwoMeta()?.hue }}</td>
          </tr>
        </tbody>
      </table>
    </app-table>
  </div>
</div>
