.comp-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-xl) var(--spacing-2xl);
  justify-content: center;

  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 30ch;
  }

  h3 {
    text-align: center;
  }

  td.label--with-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-xs);

    svg {
      display: block;
      width: 16px;
      height: 16px;
      fill: currentColor;
    }
  }
}
