.comp-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-xl) 4rem;
  justify-content: center;

  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 30ch;
  }

  h3 {
    text-align: center;
  }

  cite a {
    color: inherit;
    text-decoration-color: var(--color-border-strong);

    &:hover {
      color: var(--color-action-primary);
      text-decoration-color: var(--color-action-primary);
    }
  }
}
