.comp-container {
  display: inline-block;
  position: relative;
  border-radius: 5px 0 0 5px;

  &:hover {
    box-shadow: 0 4px 0 0 var(--ui-shadow-color);
  }

  input {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: var(--app-white) 2px solid;
    border-radius: 5px 0 0 5px;
  }

  .color-preview {
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 50%;
    left: 50%;

    /* NOTE: 2(15px) + 15px = 45px */
    width: 45px;
    height: 45px;
    border: transparent 15px solid;
    transform: translate(-50%, -50%);
    background-color: transparent;
    pointer-events: none;
    box-sizing: border-box;
  }
}
