.comp-container {
  position: relative;
  display: inline-block;

  input {
    // NOTE: 2(15px) + 15px = 45px
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;

    &:hover {
      box-shadow: 4px 4px 0 0 #8c897e;
    }

    &:focus {
      box-shadow: 4px 4px 0 0 black, -4px -4px 0 0 black, -4px 4px 0 0 black,
        4px -4px 0 0 black;
    }
  }

  .color-preview {
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    // NOTE: 2(15px) + 15px = 45px
    width: 45px;
    height: 45px;
    border: transparent 15px solid;
    background-color: transparent;
    pointer-events: none;
    box-sizing: border-box;
  }
}
