.comp-container {
  border-radius: var(--radius-sm);

  table {
    border-collapse: collapse;

    th {
      font-family: var(--mono-font);
    }

    td {
      margin: 0;
      padding: 7.5px;
      line-height: 0;
    }

    tbody {
      th {
        text-align: right;
      }
    }

    button {
      margin: 0;
      padding: 0;
      border: transparent var(--border-width-medium) solid;
      box-sizing: border-box;
      border-radius: var(--radius-sm);
      min-width: 22px;
      min-height: 22px;
      line-height: 0;
      font-size: 0;

      span {
        line-height: 0;
      }

      &:hover:not([disabled]) {
        background-color: var(--gray-0) !important;
        border-color: var(--gray-400) !important;
      }
    }

    .no-color {
      margin: 0;
      padding: 0;
      border: transparent var(--border-width-medium) solid;
      box-sizing: border-box;
      border-radius: var(--radius-sm);
      min-width: 22px;
      min-height: 22px;
      line-height: 0;
      font-size: 0;
    }
  }
}
