.comp-container {
  display: inline-block;
  position: relative;
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);

  &:hover {
    box-shadow: var(--shadow-sm);
  }

  input {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: var(--border-width-thin) solid var(--color-border-default);
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  }

  .color-preview {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    position: absolute;
    top: 50%;
    left: 50%;

    /* NOTE: 2(15px) + 15px = 45px */
    width: 45px;
    height: 45px;
    border: transparent 15px solid;
    transform: translate(-50%, -50%);
    background-color: transparent;
    pointer-events: none;
    box-sizing: border-box;
  }
}
