.comp-container {
  position: relative;
  display: inline-block;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    border: transparent 2px solid;
    background-color: white;
    padding: 0.25rem;
    min-width: var(--minHitDimensionAAA);
    min-height: var(--minHitDimensionAAA);
    width: 50px;
    height: 50px;

    &:hover {
      box-shadow: 0 4px 0 0 var(--ui-shadow-color);
    }

    .svg-container {
      width: 22px;
      height: auto;

      svg {
        fill: var(--app-black);
        display: block;
      }
    }
  }
}
