/* You can add global styles to this file, and also import other style files */

/* Imports */
@import url("@fontsource/atkinson-hyperlegible/400.css");
@import url("@fontsource/atkinson-hyperlegible/400-italic.css");
@import url("@fontsource/atkinson-hyperlegible/700.css");
@import url("@fontsource/atkinson-hyperlegible/700-italic.css");
@import url("@fontsource-variable/source-code-pro/wght.css");
@import url("@fontsource-variable/source-code-pro/wght-italic.css");

/* Vars */
:root {
  --background-color: #efe5bf;
  --ui-shadow-color: #978e6a;
  --app-white: #fff;
  --min-text-on-white: #335a4c;
  --app-black: #002a1e;
  --ideal-body-text-black: #093327;
  --min-body-text-black: #335a4c;
  --min-large-text-black: #5c8475;

  --headerFont: "Atkinson Hyperlegible", sans-serif;
  --bodyFont: "Atkinson Hyperlegible", sans-serif;
  --monoFont: "Source Code Pro Variable", sans-serif;

  // Assuming 1rem = 16px. . .
  --minTextSize: 0.8125rem;
  --minBodyTextSize: 1rem;
  --largeTextBoldSize: 1.1875rem;
  --largeTextRegularSize: 1.1875rem;

  --minHitDimensionAAA: 2.75rem;
  --minHitDimensionAA: 1.375rem;

  --fluidPadding: clamp(0.313rem, 4.5vw + -0.25rem, 2rem);
}

body {
  margin: 0;
  background-color: var(--app-black);
  overflow-x: hidden;
}

hr {
  width: 100%;
  border-color: var(--min-body-text-black);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.05em;

  sup {
    margin-left: 0.25ch;
  }
}

h1 {
  font-family: var(--headerFont);
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-family: var(--headerFont);
  color: var(--ideal-body-text-black);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.3em;
}

h3 {
  line-height: unset;
  color: var(--min-body-text-black);
  font-family: var(--headerFont);
  font-size: var(--minBodyTextSize);
  font-style: normal;
  font-weight: 700;
}

h4 {
  line-height: unset;
  color: var(--min-body-text-black);
  font-family: var(--headerFont);
  font-size: var(--minBodyTextSize);
  font-style: normal;
  font-weight: 700;
}

th {
  font-family: var(--headerFont);
  font-size: var(--minBodyTextSize);
  font-style: normal;
  font-weight: 700;
}

.visual-header {
  color: var(--min-body-text-black);
  font-family: var(--headerFont);
  // font-size: var(--minTextSize);
  font-style: normal;
  font-weight: 700;
}

td {
  font-family: var(--bodyFont);
  font-size: var(--minBodyTextSize);
  color: var(--min-body-text-black);
  font-style: normal;
  font-weight: 400;
  max-width: 40ch;
  line-height: 1.5em;

  sup {
    // margin-right: 0.5ch;
  }
}

p {
  font-family: var(--bodyFont);
  font-size: var(--minBodyTextSize);
  color: var(--min-body-text-black);
  font-style: normal;
  font-weight: 400;
  max-width: 40ch;
  line-height: 1.5em;

  sup {
    margin-right: 0.5ch;
  }

  a {
    color: inherit;
  }
}

sup {
  color: var(--min-body-text-black) !important;
  font-weight: 400 !important;
  font-size: var(--minTextSize) !important;
}

cite {
  display: inline-block;
  font-style: normal;

  a {
    color: inherit;
  }
  // min-width: var(--minHitDimensionAAA) !important;
  // min-height: var(--minHitDimensionAAA) !important;
}

strong {
  font-size: var(--minTextSize);
  text-transform: uppercase;
  letter-spacing: 0.05ch;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
