/* You can add global styles to this file, and also import other style files */

/* Imports */
@import url("@fontsource/atkinson-hyperlegible/400.css");
@import url("@fontsource/atkinson-hyperlegible/400-italic.css");
@import url("@fontsource/atkinson-hyperlegible/700.css");
@import url("@fontsource/atkinson-hyperlegible/700-italic.css");
@import url("@fontsource-variable/source-code-pro/wght.css");
@import url("@fontsource-variable/source-code-pro/wght-italic.css");

/* Vars */
:root {
  // --background-color: #fef9ea;
  --background-color: #e6e2d5;
  // --min-body-text-black: #424242;
  // --min-body-text-black: #4b483e;
  --min-body-text-black: #524f45;

  --headerFont: "Atkinson Hyperlegible", sans-serif;
  --bodyFont: "Atkinson Hyperlegible", sans-serif;
  --monoFont: "Source Code Pro Variable", sans-serif;

  --minTextSize: 13px;
  --minBodyTextSize: 16px;
  --largeTextBoldSize: 19px;
  --largeTextRegularSize: 24px;

  --minHitDimensionAAA: 44px;
  --minHitDimensionAA: 22px;

  --fluidPadding: clamp(0.313rem, 4.5vw + -0.25rem, 2rem);
}

body {
  margin: 0;
  background-color: #3b3b3b;
}

hr {
  width: 100%;
  border-color: var(--min-body-text-black);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 0.85em;

  sup {
    margin-left: 0.25ch;
  }
}

h1 {
  font-family: var(--headerFont);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-family: var(--headerFont);
  color: var(--min-body-text-black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

h3 {
  color: var(--min-body-text-black);
  font-family: var(--headerFont);
  font-size: var(--minBodyTextSize);
  font-style: normal;
  font-weight: 700;
}

th {
  font-family: var(--headerFont);
  font-size: var(--minBodyTextSize);
  font-style: normal;
  font-weight: 700;
}

td {
  font-family: var(--bodyFont);
  font-size: var(--minBodyTextSize);
  font-style: normal;
  font-weight: 400;
  max-width: 40ch;
  line-height: 1.5em;

  sup {
    margin-right: 0.5ch;
  }
}

p {
  font-family: var(--bodyFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  max-width: 40ch;
  line-height: 1.5em;

  sup {
    margin-right: 0.5ch;
  }
}

sup {
  color: var(--min-body-text-black) !important;
  font-weight: 400 !important;
  font-size: var(--minTextSize) !important;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
