<div #sliderContainer [id]="'cc-' + id()" class="comp-container">
  <label [for]="id()" class="sr-only">{{ label() }}</label>

  @if (slideMin() !== slideMax()) {
    <span [id]="rangeDescId" class="sr-only">{{ rangeDescription() }}</span>
    <input
      type="range"
      [name]="name()"
      [id]="id()"
      [min]="slideMin()"
      [max]="slideMax()"
      [step]="slideInterval()"
      [value]="value()"
      [attr.aria-valuetext]="valueText()"
      [attr.aria-describedby]="rangeDescId"
      (input)="handleSliding($event)"
    />
  } @else if (slideMin() === slideMax()) {
    <div class="special-case">
      <div>!</div>
    </div>
  }
</div>

<div class="dev-overlay" [class.active]="debug()">
  <h2>dev overlay</h2>

  <div
    class="light-variant-chip"
    [style.borderColor]="devColorVariant()"
    [style.backgroundColor]="color()"
  ></div>
</div>
